.gallery img{
    width:100%;
}
h2{
    font-family:'Times New Roman', Times;
    text-align:center;
    font-size:30px;
    color:maroon;
    font-style:italic;
    
}
h4{
    font-family:'Times New Roman', Times;
    font-size:20px;
    font-style:italic;
    color:olivedrab;
    text-decoration:underline;
}
b{
    font-family: Helvetica, sans-serif;
    color:purple;
    background-color:rgb(218, 195, 240);
}
#menu{
    width:100%;
    height:40px;
    background-color:cornflowerblue;
    padding-top: 12px;
}
#menu a{
    color:rgb(177, 31, 91);
    font-family: Georgia, 'Times New Roman', Times;
    font-size:18px ;
    text-decoration: none;
    font-weight: 800;

    padding-left: 20px;
    padding-right: 20px;
}
#menu a:hover{
    color:#5077bd;
}

